
body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


main {
  background-color: white;
  padding: 3em 4em;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 400px;
  text-align: center;
}


h1 {
  margin-bottom: 1.5em;
  font-size: 1.8em;
}


form div {
  margin-bottom: 1.5em;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}


input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  border: 2px dashed #aaa;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: hotpink;
}


::-webkit-input-placeholder { color: hotpink; }
:-ms-input-placeholder { color: hotpink; }
::-moz-placeholder { color: hotpink; }
::placeholder { color: hotpink; }


input:required {
  border-left: 5px solid red;
}

input:invalid {
  background-color: #ffe4ec;
}


input[type="checkbox"] {
  margin-right: 8px;
}

input[type="checkbox"]:checked + label {
  color: green;
  font-weight: bold;
}


button {
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.8em 2em;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #ff6fbf;
}
