body {
  font-family: sans-serif;
  background-color: #ececec;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
}

main {
  background-color: #fff;
  padding: 2em 3em;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

label {
  font-size: 1em;
}

input {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid #999;
}
